
h1{    
    font: 35;
    color: grey;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: inline;
}

.container{
    width: 100%;
    float: left;
    text-align: left;
    border: 5px solid black;
    background-color: rgba(2, 4, 110, 0.571);
    margin: 0;
}

/*Menu below Navigation Bar and above Calendar*/
.sub-menu{
  float: none;
  text-align: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-menu a{
    color: rgba(2, 4, 110, 0.571);
    text-align: center;
    padding: 10px, 10px, 7px;
    text-decoration: none;
    font-size: 17px;
}

.sub-menu a:hover {
  color: white;
}

.sub-menu a.active{
    color: #89CFF0;
    text-decoration: underline overline dotted  #89CFF0;
}
/* -END- Menu below Navigation Bar and above Calendar*/


div{
  clear: both;
}

/*Top Navigation bar w/ symbol*/
.topnav{
    float: right;
}
.topline{
    width: 100%;
    margin: auto;
}
.fa-regular{
    color:grey;
    margin: auto;
    padding: 5px; 
    background-color: rgb(5, 5, 77);
}
/* -END- Top Navigation bar w/ symbol*/

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
body{
  /*display: flex;*/
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: grey;
}

/*Calendar Style*/
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  position: relative;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
.current-date{
  font-size: 1.45rem;
  font-weight: 500;
}

.current-date2{
  font-size: 1.15rem;
  font-weight: 300;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}

.calendar .days{
  margin-bottom: 20px;
}

.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}

.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.days li.inactive{
  color: #aaa;
}

.days li.active{
  color: #fff;
}

.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.days li.active::before{
  background: rgba(2, 4, 110, 0.571);
}

.days li:not(.active):hover::before{
  background: #f2f2f2;
}
/*-END- Calendar Style*/

/*Modal Style*/
#modal-wrapper[aria-hidden="true"]{
  display: none;
}

#modal-wrapper[aria-hidden="false"]{
  display: block;
}


/*-END- Modal Style*/

/*Week View Style*/
.week-view{
  margin-top: 10px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  position: relative;
}
header .week-icons span {
  height: 38px;
  width: 38px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.week-view header{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  position: relative;
  text-align: center;
}
.week-view p{
  display: inline-block;
}
.day-cell{
  width: 100%;
  height: 100%;
  border: 1px solid black;
  text-align: center;
}

.column span{
  display: block;
}
.hours{
  border: 1px solid black;
  display: block;
  text-align: left;
  height: 40px;
}
header .week-icons span:hover{
  background: #f2f2f2;
}

/*.day-cell div:hover {
  background-color: lightblue;
}*/
/* -END- Week View Style*/


/*Navigation bar*/
/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    float: right;
    position: right;
  }
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:#89CFF0;
    color: white;
  }
  /*End Navigation Bar Style*/


  